@media (min-width: 1200px){
.container {
    width: 970px;
    }
}

body {
    font-family: "proxima-nova",sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0,0,0,0.6);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "proxima-nova",sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 20px;
    line-height: 35px;
    color: rgba(0,0,0,0.9);
}

p, ul {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 30px;
}

.lead {
    font-weight: 400;
    font-size:28px;
    line-height: 35px;
    margin-bottom: 40px;
}

.navbar-brand {
    padding-left:0px;
}

.navbar-brand, .navbar-footer img {
    width:100px;
}

@media (min-width: 768px){
    .navbar-brand {
        margin-top: 8px;
        margin-bottom: 8px;
        width:150px;
    }
}

.navbar-default .navbar-nav>li>a, .btn{
    text-decoration: none;
}

.btn-default {
    background-color: #f1f1f1;
}

.navbar-default.navbar-expanded {
    background-color: transparent;
    border:none;
    margin-bottom: 0px;
    z-index: 999;
    border-radius: 0px;
    font-size: 16px;
    font-weight: 400;
}

.area {
    margin-bottom: 50px;
}

@media (min-width: 768px){
    .navbar-nav>li {
        padding-top: 10px;
        padding-bottom: 30px;
        font-size: 16px;
    }
    a.list-group-item {
        font-size: 18px;
    }
    .area {
        margin-bottom: 100px;
    }
}

.area h1, .area h2{
    margin-top: 20px;
    font-size: 26px;
}

@media (min-width: 992px){
    .area {
        text-align:left;
    }
    .area h1, .area.case h2 {
        font-size: 40px;
        line-height: 40px;
        margin-top: 50px;
    }
}

footer {
    background: rgba(0,0,0,0.1);
}

footer.area {
    padding-top: 40px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

footer img {
    margin: 40px auto 0px;
}

.center {
    text-align: center;
}

.form-control, .btn {
    box-shadow: none;
    -webkit-box-shadow:none;
    font-size: 16px;
    font-weight: 400;
}

.form-control.emailfield {
    height:36px;
}

@media screen and (min-width: 768px){
    .form-control.emailfield {
        width:400px;
    }
}

.form-inline {
    margin-bottom: 40px;
}

@media screen and (min-width: 768px){
    .form-control.emailfield {
        width: 250px;
    }
}

.social li a {
    margin: 0px 20px;
    color: rgba(0,0,0,0.7);
}

.social li a:hover {
    color: rgba(0,0,0,0.9);
}

.navbar, .navbar-brand {
    min-height:90px;
}

@media (min-width: 768px) {
    .navbar {
        min-height:110px;
    }
    .navbar-right {margin-top:20px;
    }
}

.list-group-item {
    margin-bottom: 0px;
    border:none;
    border-bottom: 1px solid #ddd;
    padding-left:10px;
}

@media (min-width: 768px){
    a.list-group-item {
        font-size: 20px;
    }
}

.btn-primary {
    border-color:#e02c8f;
    background-color:#e02c8f;
}

.btn-primary:hover, .btn-primary:visited, .btn-primary:active, .btn-primary:focus {
    color: #e02c8f;
    background-color: #fff;
    border-color: #e02c8f;
}

a, a:hover, a.list-group-item:hover{
    color:#e02c8f;
}

.navbar-toggle {
    margin-top: 30px;
}

.client-logo {
    max-height: 120px;
    margin-top: 50px;
}

.client-logo img {
    width:120px;
    height:auto;
    margin:0px auto 50px;
}

.client-logo.one img {
    width:100px;
}

.client-logo.two img {
    width:80px;
}

.client-logo.three img {
    width:150px;
    margin-top: 30px;
}

.client-logo.four img {
    width:150px;
}

.client-logo.five img {
    margin-top: 0px;
    width:180px;
}

.client-logo.six img {
    width:170px;
    margin-top: 40px;
}

.client-logo.seven img {
}

.client-logo.eight img {
    margin-top: 20px;
}
